@charset "UTF-8";
@import "reset.css";

#banner{
  width: 800px;
  margin: 50px auto;
  overflow: hidden;
  #JieFocus{
    $width:800px; $height:460px;
    width: $width;
    height: $height;
    overflow: hidden;
    position: relative;
    .FocusNum {
  		position: absolute;
      right: 10px;
      bottom: 0;
      height: 25px;
  		li {
  			float: left;
        width: 6px;
        height: 6px;
        margin: 0 5px;
        border: 2px solid #fff;
        border-color: rgba(255,255,255,0.3);
        border-radius: 10px;
        text-align: left;
        text-indent: -9999px;
        overflow: hidden;
  			&.active {background: #fff;color: #555;}
        a{
          img{
            width: $width;
            height: $height;
          }
        }
  		}
  	}
    .FocusLeft,.FocusRight {
  		position: absolute;
      width: 30px;height: 80px;
      top: 180px;
      left: 10px;
  	}
    .FocusLeft{
      background: url("../img/icon-slides.png") no-repeat -92px 50%;
    }
    .FocusRight{
      background: url("../img/icon-slides.png") no-repeat -125px 50%;
    }
    .FocusLeft:hover{
      background: url("../img/icon-slides.png") no-repeat -5px 50%;
    }
    .FocusRight:hover{
      background: url("../img/icon-slides.png") no-repeat -46px 50%;
    }
  	.FocusRight {
      right: 10px;
      left: auto;
    }
  }
}
